services:
  - type: web
    name: utsav-portfolio
    env: node
    rootDir: .
    buildCommand: npm install --include=dev && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000